.next-button {
    display: flex;
    justify-content: center;
}

.next-button > button:disabled {
    background-color: lightgray;
    /* Add any other styles for the disabled state here */
}

.next-button > button {
    width: 20%;;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: large;
    background-color: blue;
}